@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: .5rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

img{
    width: 100%;
}

.hero {
    background-color: #1f2937;
    color: #ffffff;
}


.header h3 {
    font-size: 24px;
    color: #f9faf8;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem 2rem;
    font-size: 18px;
    max-width: 60%;
}

.content.hero .container{
    padding: 6rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .col{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .col h1{
        color: #f9faf8;
        font-weight: 900;
        font-size: 48px;
    }
    .col p{
        color: #e5e7eb;
        font-size: 18px;
    }
    .col button{
        padding: .5rem 1rem;
        color: #f9faf8;
        font-size: 18px;
        max-width: 25%;
    }
}

.content.hero .container .col.text{
    padding-right: 4rem;
}

.container.section {
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem 6rem 2rem;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding-inline: 6rem;
}

.item{
    width: 20%;
    text-align: center;
}

.item img{
    border-radius: 1rem;
    border: #3882f6 5px solid;
}

.container.section h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
}

.quote .container{
    padding: 6rem 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote-auth{
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
    align-self: flex-end;
    padding-right: 3rem;
}

.cta{
    width: 100%;
    background-color: #3882f6;
    margin: 4rem 0;
    padding: 3rem 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
}

.cta h3{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.cta p{
    font-size: 20px;
    color: #e5e7eb;
    font-weight: 300;
}

.cta button{
    border: #f9faf8 2px solid;
    border-radius: .5rem;
    padding: .25rem 2rem;
    font-size: 20px;
    color: #f9faf8;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3rem;
    color: #e5e7eb;
    padding: 2rem 0;
}